body {
  background-color: black;
  color: white;
}

main {
  width: 300px;
  margin: 50px auto 0;
}

.board {
  display: grid;
  border: 2px solid white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}
