body {
  background-color: #22232e;
  color: white;
  font-family: "PT Serif", serif;
}

main {
  width: 300px;
  margin: 50px auto 0;
}

.title-btn__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Lobster", cursive;
}

.start-again-btn__wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 2rem;
}

.start-again-btn {
  border: none;
  background-color: white;
  padding: 0.5rem 1.3rem;
  font-size: 18px;
  border-radius: 12px;
  width: 50%;
  font-family: "PT Serif", serif;
  color: #22232e;
}

.board {
  display: grid;
  border: 2px solid white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}

.result {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}

.win {
  background-color: #7fd487;
}

.lose {
  background-color: #eb7a7a;
}

.tie {
  background-color: #f09148;
}

.score__wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 30px;
}

.score__wrapper p {
  text-align: center;
}
